.item {
    width: 100%;
}

.item-name {
    float: left;
    width: 80%;
    padding: 0 0 1.5em 0;

    font-size: 2em;
}

.item-price {
    float: left;
    width: 20%;
    padding: 0 0 15px 0;

    font-size: 2em;
    text-align: right;
}

.item-img {
    float: left;
    width: 30%;
    max-height: 150px;
}

.item-img img {
    max-width: 100%;
    max-height: 100%;
}

.item-desc {
    float: left;
    width: 70%;
}

.item-desc p {
    padding: 0 0 1.5em 0;
}
