/* ==========================================================================
   Site colors.
   ========================================================================== */
/*
 * redish orange: #f45333
 * redish orange light: #f45a45
 * light blue: #66cccc
 * light green: #7ce2c9
 * light teal: #59ffd6
 */
/* ==========================================================================
   General site styles
   ========================================================================== */
html {
  font-size: 10px;
  font-family: "Lato", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
::selection {
  background: #bae3ff;
}
body {
  overflow-x: hidden;
  background: #ffffff;
  color: #333333;
}
a,
a:hover,
a:visited,
a:focus {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
img {
  max-height: 100%;
  max-width: 100%;
}
ul,
ol {
  list-style-type: none;
}
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
.content {
  width: 96%;
  max-width: 1024px;
  margin: 0 auto;
}
/* ==========================================================================
   Header
   ========================================================================== */
header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  background: #222222;
  color: #ffffff;
  -webkit-transition: transform 200ms ease-in;
  -moz-transition: transform 200ms ease-in;
  -ms-transition: transform 200ms ease-in;
  -o-transition: transform 200ms ease-in;
  transition: transform 200ms ease-in;
  -webkit-backface-visibility: hidden;
}
header .menu {
  display: block;
  float: left;
  height: 3rem;
  line-height: 3rem;
  vertical-align: top;
  text-align: center;
  font-size: 1.2em;
}
header .menu .fa {
  font-size: 2rem;
  padding: .5rem;
}
header.nav-active {
  -webkit-transform: translate3d(240px, 0, 0);
  -moz-transform: translate3d(240px, 0, 0);
  -ms-transform: translate3d(240px, 0, 0);
  -o-transform: translate3d(240px, 0, 0);
  transform: translate3d(240px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* ==========================================================================
   Nav
   ========================================================================== */
nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100%;
  background: #222222;
  color: #ffffff;
  -webkit-transition: transform 200ms ease-in;
  -moz-transition: transform 200ms ease-in;
  -ms-transition: transform 200ms ease-in;
  -o-transition: transform 200ms ease-in;
  transition: transform 200ms ease-in;
  -webkit-backface-visibility: hidden;
}
nav ul {
  padding: 3em 0 0 0;
}
nav ul li {
  font-size: 1.5rem;
}
nav ul li a {
  display: block;
  padding: .8rem;
}
nav ul li a:hover {
  color: #333333;
  background: #f1f0f1;
}
nav.nav-active {
  -webkit-transform: translate3d(240px, 0, 0);
  -moz-transform: translate3d(240px, 0, 0);
  -ms-transform: translate3d(240px, 0, 0);
  -o-transform: translate3d(240px, 0, 0);
  transform: translate3d(240px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* ==========================================================================
   Main Content
   ========================================================================== */
main {
  overflow-x: hidden;
  width: 100%;
  padding: 3em 0 0 0;
  -webkit-transition: transform 200ms ease-in;
  -moz-transition: transform 200ms ease-in;
  -ms-transition: transform 200ms ease-in;
  -o-transition: transform 200ms ease-in;
  transition: transform 200ms ease-in;
  -webkit-backface-visibility: hidden;
}
main.nav-active {
  -webkit-transform: translate3d(240px, 0, 0);
  -moz-transform: translate3d(240px, 0, 0);
  -ms-transform: translate3d(240px, 0, 0);
  -o-transform: translate3d(240px, 0, 0);
  transform: translate3d(240px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
section {
  padding: 8em 0;
}
section h1 {
  font-size: 4em;
  text-align: center;
}
section hr {
  width: 300px;
  margin: 1em auto;
  border-color: #cccccc;
}
section h2 {
  text-align: center;
  font-size: 1.4em;
  line-height: 2em;
}
.column-flex {
  width: 40rem;
  max-width: 100%;
  margin: 0 auto;
}
.column-flex:before,
.column-flex:after {
  content: " ";
  display: table;
}
.column-flex:after {
  clear: both;
}
/* Intro Section
   ========================================================================== */
section.intro {
  background: #68e1a9;
  background: -moz-linear-gradient(top, #68e1a9 0%, #2fc381 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #68e1a9), color-stop(100%, #2fc381));
  background: -webkit-linear-gradient(top, #68e1a9 0%, #2fc381 100%);
  background: -o-linear-gradient(top, #68e1a9 0%, #2fc381 100%);
  background: -ms-linear-gradient(top, #68e1a9 0%, #2fc381 100%);
  background: linear-gradient(to bottom, #68e1a9 0%, #2fc381 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top', endColorstr='@bottom', GradientType=0);
  color: #ffffff;
}
section.intro h1 {
  font-weight: 700;
  text-transform: lowercase;
}
section.intro hr {
  border-color: #ffffff;
}
section.intro p {
  text-align: center;
}
/* Profile
   ========================================================================== */
section.profile .profile-image {
  padding: 3em 0 0 0;
  text-align: center;
}
/* Skills Section
   ========================================================================== */
section.skills {
  background: #f1f0f1;
}
.skill-list {
  padding: 3em 0 0 0;
}
.skill-list h3 {
  margin: 0 0 .5em 0;
  padding: 1em 0 .5em 0;
  font-size: 1.6em;
  border-bottom: 1px solid #cccccc;
}
.skill-list .skill-group {
  padding: 0 0 2em 0;
}
.skill-list .skill-item {
  height: 2em;
  line-height: 2em;
  padding: 0 .2em;
  font-size: 1.3em;
}
.skill-list .skill-item:hover {
  background: #ffffff;
}
.skill-list .skill-value {
  float: right;
  padding: .4em 0 0 0;
}
.skill-list .skill-indicator {
  float: right;
  padding: 0 0 0 .3em;
  font-size: 1.2em;
  color: #a3abc3;
}
.skill-list .skill-indicator.full {
  color: #2fc381;
}
/* Job
   ========================================================================== */
section.job .job-list {
  padding: 3em 0 0 0;
}
section.job .job-list .company {
  padding: 0 0 2em 0;
  text-align: center;
}
section.job .job-list .company h3 {
  padding: .2em 0;
  font-size: 2em;
  font-weight: 700;
}
section.job .job-list .company p {
  font-size: 1.6em;
}
section.job .job-list .description h4 {
  padding: .5em 0;
  font-size: 1.6em;
  font-weight: 700;
}
section.job .job-list .description p {
  font-size: 1.4em;
  line-height: 1.4em;
}
section.job .job-list .description ul {
  padding: 1rem 2rem;
  list-style-type: disc;
  font-size: 1.4rem;
}
section.job .job-list .description ul li {
  padding: .5rem 0;
}
section.job .description a {
  font-weight: 700;
  color: #2fc381;
}
section.job .description a:hover {
  text-decoration: underline;
}
/* Examples
   ========================================================================== */
section.examples {
  background: #f1f0f1;
}
/* Contact
   ========================================================================== */
section.contact {
  background: #333333;
  color: #ffffff;
}
.contact-list {
  padding: 3em 0 0 0;
}
.contact-list .contact-item {
  padding: .5em 4em;
  font-size: 1.4em;
}
.contact-list .contact-item a {
  display: block;
  vertical-align: top;
  line-height: 2em;
}
.contact-list .contact-item .fa {
  padding: 0 1rem 0 0;
  font-size: 3rem;
}
/* Overlay
   ========================================================================== */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.overlay.active {
  display: block;
}
/* ==========================================================================
   Good stuff.
   ========================================================================== */
.eggs {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}
.eggs-scorpion {
  width: 100%;
  height: 100%;
  font-size: 4em;
  font-style: italic;
  font-weight: 700;
}
.eggs-scorpion img {
  width: 100%;
  max-width: 900px;
  max-height: 450px;
}
/* ==========================================================================
   Media Queries for Responsiveness
   ========================================================================== */
@media screen and (min-width: 600px) {
  html {
    font-size: 11px;
  }
  .content {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 12px;
  }
  .content {
    width: 80%;
  }
  section {
    padding: 9em 0;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 13px;
  }
  /* Here we break up our columms */
  .column-flex {
    width: 63rem;
    max-width: 100%;
    margin: 0 auto;
  }
  .column-flex .column-item {
    float: left;
    width: 28rem;
    margin: 0 1.75rem;
  }
  .contact-list .contact-item {
    padding: .5em 0;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
  section {
    padding: 12em 0;
  }
}
/**
 * Adjustments for high-res devices
 */
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  
}
