/* ==========================================================================
   Site colors.
   ========================================================================== */
/*
 * redish orange: #f45333
 * redish orange light: #f45a45
 * light blue: #66cccc
 * light green: #7ce2c9
 * light teal: #59ffd6
 */
/* ==========================================================================
   General site styles
   ========================================================================== */
html {
  font-size: 10px;
  font-family: "Lato", Helvetica, Arial, Verdana, sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
::selection {
  background: #BAE3FF;
}
body {
  background: #2fc381 top center no-repeat url("../img/flag.png");
  background-attachment: fixed;
  background-size: 175%;
  overflow-x: hidden;
  color: #333;
  color: #333333;
}
a,
a:hover,
a:visited,
a:focus {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
a:visited {
  color: #915A93;
  color: #915a93;
}
img {
  max-height: 100%;
  max-width: 100%;
}
ul,
ol {
  list-style-type: none;
}
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
.content {
  width: 94%;
  max-width: 1024px;
  margin: 0 auto;
}
/* ==========================================================================
   Header
   ========================================================================== */
header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 3.2rem;
  width: 100%;
  background: #222;
  background: #222222;
  color: #ffffff;
  -webkit-transition: transform 200ms ease-in;
  -moz-transition: transform 200ms ease-in;
  -ms-transition: transform 200ms ease-in;
  -o-transition: transform 200ms ease-in;
  transition: transform 200ms ease-in;
  -webkit-backface-visibility: hidden;
}
header .menu {
  display: block;
  float: left;
  height: 3.2rem;
  font-size: 1.2em;
}
header .menu span {
  vertical-align: middle;
}
header .menu .fa {
  font-size: 2rem;
  padding: 0.5rem;
}
header.nav-active {
  -webkit-transform: translate3d(240px, 0, 0);
  -moz-transform: translate3d(240px, 0, 0);
  -ms-transform: translate3d(240px, 0, 0);
  -o-transform: translate3d(240px, 0, 0);
  transform: translate3d(240px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* ==========================================================================
   Nav
   ========================================================================== */
nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -240px;
  bottom: 0;
  width: 240px;
  background: #222;
  background: #222222;
  background: #2fc381;
  color: #ffffff;
  -webkit-transition: transform 200ms ease-in;
  -moz-transition: transform 200ms ease-in;
  -ms-transition: transform 200ms ease-in;
  -o-transition: transform 200ms ease-in;
  transition: transform 200ms ease-in;
  -webkit-backface-visibility: hidden;
}
nav ul li {
  font-size: 1.4rem;
}
nav ul li a {
  display: block;
  padding: 0.8rem;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-backface-visibility: hidden;
}
nav ul li a:visited {
  color: inherit;
}
nav ul li a:hover,
nav ul li a.active {
  color: #333;
  color: #333333;
  background: #f1f0f1;
}
nav.nav-active {
  -webkit-transform: translate3d(240px, 0, 0);
  -moz-transform: translate3d(240px, 0, 0);
  -ms-transform: translate3d(240px, 0, 0);
  -o-transform: translate3d(240px, 0, 0);
  transform: translate3d(240px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* ==========================================================================
   Main Content
   ========================================================================== */
main {
  overflow-x: hidden;
  width: 100%;
  padding: 3.2rem 0 0 0;
  -webkit-transition: transform 200ms ease-in;
  -moz-transition: transform 200ms ease-in;
  -ms-transition: transform 200ms ease-in;
  -o-transition: transform 200ms ease-in;
  transition: transform 200ms ease-in;
  -webkit-backface-visibility: hidden;
}
main.nav-active {
  -webkit-transform: translate3d(240px, 0, 0);
  -moz-transform: translate3d(240px, 0, 0);
  -ms-transform: translate3d(240px, 0, 0);
  -o-transform: translate3d(240px, 0, 0);
  transform: translate3d(240px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
section {
  padding: 8em 0;
}
section h1 {
  font-size: 4em;
  text-align: center;
}
section hr {
  width: 300px;
  margin: 1em auto;
  border-color: #ccc;
}
section h2 {
  text-align: center;
  font-size: 1.4em;
  line-height: 2em;
}
.column-flex {
  width: 40rem;
  max-width: 100%;
  margin: 0 auto;
}
.column-flex:before,
.column-flex:after {
  content: " ";
  display: table;
}
.column-flex:after {
  clear: both;
}
/* Intro Section
   ========================================================================== */
section.intro {
  color: #ffffff;
}
section.intro h1 {
  font-weight: 700;
  text-transform: lowercase;
}
section.intro hr {
  border-color: #ffffff;
}
section.intro p {
  text-align: center;
}
/* Profile
   ========================================================================== */
section.profile {
  background: #ffffff;
}
.profile-info {
  padding: 5em 0 0 0;
}
.profile-info .profile-image {
  padding: 0 0 2em 0;
  text-align: center;
}
.profile-info .profile-items {
  text-align: center;
}
.profile-info .profile-items h3 {
  font-size: 1.4em;
  font-weight: 700;
}
.profile-info .profile-items ul {
  font-size: 1.4rem;
  padding: 0.5rem 0 1rem 0;
}
.profile-info .profile-items ul li {
  padding: 0 0 0.4rem 0;
}
/* Skills Section
   ========================================================================== */
section.skills {
  background: #ffffff;
}
section.skills .resume {
  font-size: 1.6em;
  text-align: center;
}
section.skills .resume a {
  text-decoration: underline;
  color: #2fc381;
}
.skill-list {
  padding: 5em 0 0 0;
}
.skill-list .skill-group {
  padding: 0 0 2em 0;
  font-size: 1.3em;
}
.skill-list h3 {
  height: 2em;
  line-height: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: #ccc;
  background: #cccccc;
}
.skill-list .skill-item {
  height: 2em;
  line-height: 2em;
  padding: 0 0.2em;
  cursor: default;
}
.skill-list .skill-item:hover {
  background: #f1f0f1;
}
.skill-list .skill-value {
  float: right;
  padding: 0.4em 0 0 0;
}
.skill-list .skill-indicator {
  float: right;
  padding: 0 0 0 0.3em;
  font-size: 1.2em;
  color: #a3abc3;
}
.skill-list .skill-indicator.full {
  color: #2fc381;
}
/* Job
   ========================================================================== */
section.job {
  background: #f1f0f1;
}
section.job .job-list {
  padding: 5em 0 0 0;
}
section.job .job-list .job-group {
  margin: 0 auto;
  max-width: 40rem;
}
section.job .job-list .company {
  padding: 0 0 1em 0;
}
section.job .job-list .company h3 {
  padding: 0.2em 0;
  font-size: 2em;
  font-weight: 700;
  color: #2fc381;
}
section.job .job-list .company h4 {
  font-size: 1.6em;
  font-weight: 700;
}
section.job .job-list .company p {
  font-size: 1.6em;
}
section.job .job-list .description p {
  font-size: 1.4em;
  line-height: 1.4em;
}
section.job .job-list .description ul {
  padding: 1rem 2rem;
  list-style-type: disc;
  font-size: 1.4rem;
}
section.job .job-list .description ul li {
  padding: 0.5rem 0;
}
section.job .job-list .description ul ul {
  list-style-type: circle;
  padding-right: 0;
}
section.job .job-list .description a {
  font-weight: 700;
  color: #2fc381;
}
section.job .job-list .description a:hover {
  text-decoration: underline;
}
/* Examples
   ========================================================================== */
section.examples {
  background: #f1f0f1;
}
/* Contact
   ========================================================================== */
section.contact {
  background: #333;
  background: #333333;
  color: #ffffff;
}
.contact-list {
  padding: 5em 0 0 0;
}
.contact-list .contact-item {
  padding: 0.5em 1em;
  font-size: 1.4em;
}
.contact-list .contact-item a {
  display: block;
  vertical-align: top;
  line-height: 2em;
  -webkit-transition: color 200ms ease-in;
  -moz-transition: color 200ms ease-in;
  -ms-transition: color 200ms ease-in;
  -o-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  -webkit-backface-visibility: hidden;
}
.contact-list .contact-item a:hover {
  color: #2fc381;
}
.contact-list .contact-item span {
  vertical-align: middle;
}
.contact-list .contact-item .fa {
  padding: 0 1rem 0 0;
  font-size: 3rem;
}
/* Overlay
   ========================================================================== */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.overlay.active {
  display: block;
}
/* ==========================================================================
   Good stuff.
   ========================================================================== */
.eggs {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  overflow: hidden;
}
.eggs-scorpion {
  width: 100%;
  height: 100%;
  font-size: 4em;
  font-style: italic;
  font-weight: 700;
}
.eggs-scorpion img {
  width: 100%;
  max-width: 900px;
  max-height: 450px;
}
/* ==========================================================================
   Media Queries for Responsiveness
   ========================================================================== */
@media screen and (min-width: 480px) {
  .contact-list .contact-item {
    padding: 0.5em 4em;
  }
}
@media screen and (min-width: 600px) {
  html {
    font-size: 11px;
  }
  body {
    background-size: 100%;
  }
  .content {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 12px;
  }
  .content {
    width: 80%;
  }
  section {
    padding: 9em 0;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 13px;
  }
  /* Here we break up our columms */
  .column-flex {
    width: 63rem;
    max-width: 100%;
    margin: 0 auto;
  }
  .column-flex .column-item {
    float: left;
    width: 28rem;
    margin: 0 1.75rem;
  }
  .profile-info .profile-items {
    text-align: left;
  }
  .contact-list .contact-item {
    padding: 0.5em 0;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 14px;
  }
  section {
    padding: 12em 0;
  }
}
/**
 * Adjustments for high-res devices
 */
