
.main-section {
  height: 100vh;

  &.intro {
    background: $brand-dark;
//    color: $vim-teal;
    color: $white;

    h1 {
      width: 50vw;
      margin: 0 auto;
      padding-top: 40vh;
      padding-bottom: 1vw;

      font-size: 10vw;
      font-weight: bold;
//      font-family: $font-mono;
      text-align: center;
//      text-transform: uppercase;
//      border-bottom: 1.5vw solid $vim-purple;
    }
  }

  &.about {
    display: flex;
    flex-direction: column;
    height: auto;

    @include respond-to(tablet) {
      flex-direction: row;
      height: 100vh;
    }

    h1 {
      padding-top: 40vh;
      padding-bottom: 1vw;

      font-size: 10vw;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }

    .sub-section {
      flex: 1 1 auto;
      min-width: 50vw;
      height: 100vh;

      @include transition(background 250ms ease-in-out);

      &:first-child {
        background: $purple;

        &:hover {
          background: darken($purple, 5%);
          .profile-img {
            border-radius: 50%;
          }
        }
      }

      .profile-img {
        width: 300px;
        margin: 0 auto;
        margin-top: 25vh;
        overflow: hidden;

        border-radius: 0;

        $transition: border 250ms ease-in, border-radius 250ms ease-in;
        @include transition($transition);
      }

      &:last-child {
        background: $off-white;

        &:hover {
          background: darken($off-white, 5%);
        }
      }
    }
  }

  &.skills {
    background: $white;
    color: $brand-dark;

    h1 {
      width: 50vw;
      margin: 0 auto;
      padding-top: 10vh;
      padding-bottom: 1vw;

      font-size: 10vw;
      font-weight: bold;
      text-align: center;
    }

    h2 {
      width: 50vw;
      margin: 0 auto;

      font-size: 1.5vw;
      text-align: center;
    }

    .skill-group {

      .skill-set {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-top: $spacing-padding / 2;
        padding-bottom: $spacing-padding / 2;

        .skill {
          flex: 2 1 auto;
        }

        .level {
          flex: 1 1 auto;
          text-align: right;

          i {
            padding-left: 2px;
          }
        }
      }
    }
  }
}
