// ------------------------------------
// Variables
// ------------------------------------

// Colors
$white:                               #fff;
$off-white:                           #f5f5f5;
$black:                               #000;
$red:                                 #f00;
$green:                               #0f0;
$blue:                                #00f;
$yellow:                              #0ff;
$brand-grey:                          #ccc;
$brand-dark:                          #222;
$brand-danger:                        $red;
$brand-primary:                       $black;
$brand-secondary:                     $brand-dark;
$brand-tertiary:                      $brand-dark;
$body-bkg:                            $white;

// Type
$font-primary:                        'Helvetica', 'Arial', 'Verdana', sans-serif;
$font-title:                          'NexaBold', 'Helvetica', 'Arial', 'Verdana', sans-serif;
$font-size-base:                      14px;
$line-height-base:                    16px;
$font-weight-base:                    100;
$font-color:                          $black;
$h1-font-size:                        24px;
$h2-font-size:                        20px;
$h3-font-size:                        18px;
$h4-font-size:                        16px;

// Forms
$form-group-margin:                   1em;
$form-label-margin:                   .2em;
$form-input-font:                     $font-primary;
$form-input-font-size:                $font-size-base;
$form-input-font-weight:              $font-weight-base;
$form-input-padding:                  .5em;
$form-input-border:                   1px solid $brand-grey;
$form-input-border-radius:            3px;
$form-input-border-focus:             $brand-primary;
$form-input-margin:                   .8em;
$form-error-font-size:                #{$font-size-base};

// Screen sizes and break po          ints
$screen-xs-min:                       320px;
$screen-sm-min:                       568px;
$screen-md-min:                       768px;
$screen-lg-min:                       1024px;
$screen-xl-min:                       1400px;
$break-point-phone:                   $screen-sm-min;
$break-point-tablet:                  $screen-md-min;
$break-point-desktop:                 $screen-lg-min;
$break-point-desktop-lg:              $screen-xl-min;

// Layout
$spacing-margin:                      12px;
$spacing-padding:                     12px;
$container-max-width:                 1280px;

// Header
$header-height-sm:                    40px;
$header-height-lg:                    60px;
$header-bkg:                          $brand-secondary;

// Nav
$nav-link-height-sm:                  44px;
$nav-link-height-lg:                  60px;
$nav-width-closed:                    60px;
$nav-width-open:                      220px;
$nav-break-sm:                        $screen-md-min;
$nav-break-lg:                        $container-max-width + $nav-width-open;
$nav-trans-speed:                     200ms;
$nav-trans-timing:                    ease-in;

// Buttons
$btn-padding:                         .5em;
$btn-border-color:                    $brand-grey;
$btn-border:                          1px solid $btn-border-color;
$btn-border-radius:                   3px;
$btn-color:                           #fff;
$btn-default-bkg:                     lighten($brand-dark, 15%);
$btn-default-color:                   $btn-color;
$btn-primary-bkg:                     $brand-primary;
$btn-primary-color:                   $btn-color;
$btn-secondary-bkg:                   $brand-secondary;
$btn-secondary-color:                 $btn-color;
$btn-warning-bkg:                     $yellow;
$btn-warning-color:                   $btn-color;
$btn-tertiary-bkg:                    $brand-tertiary;
$btn-tertiary-color:                  $btn-color;
$btn-info-bkg:                        $blue;
$btn-info-color:                      $btn-color;
$btn-light-bkg:                       darken($white, 3%);
$btn-light-color:                     $font-color;
$btn-light-border-color:              darken($brand-grey, 2%);

// Boxes
$box-width-sm:                        400px;
$box-width-md:                        600px;
$box-width-lg:                        800px;
$box-padding:                         $spacing-padding;
$box-margin:                          $spacing-margin;
$box-bkg:                             $white;
$box-border-color:                    $brand-grey;//darken($box-bkg, 10%);
$box-border-radius:                   3px;
$box-box-shadow:                      0 1px 1px rgba(0,0,0,.05);
$box-btn-bkg:                         lighten($brand-grey, 5%);
$box-btn-border-color:                $brand-grey;
$box-btn-bkg-active:                  $brand-primary;
$box-btn-color:                       $font-color;
$box-btn-color-active:                $white;

// Lists
$list-border-size:                    1px;
$list-border-color:                   $brand-grey;
$list-border-type:                    solid;
$list-border:                         $list-border-size $list-border-color $list-border-type;
$list-border-radius:                  3px;
$list-item-padding:                   10px;
$list-item-border-color:              $brand-grey;
$list-item-indicator-size:            6px;
$list-item-active-color:              $brand-primary;
$list-item-inactive-color:            darken($brand-grey, 5%);

// Tables
$table-bkg:                           #fff;
$table-cell-padding:                  8px;
$table-border-color:                  $brand-grey;
$table-bkg-accent:                    darken($table-bkg, 5%);

// Tooltips
$tooltip-color:                       $brand-primary;
$tooltip-size:                        1.2rem;
$tooltip-cursor:                      pointer;

// Tabs
$tab-height:                          30px;

// Radio Input
$radio-size:                          18px;

// Transitions
$transition-fast:                     all 75ms ease-in-out;
$transition-base:                     all 150ms ease-in-out;
$transition-slow:                     all 250ms ease-in-out;
