// LESS Color Stylesheet
/* ==========================================================================
   Site colors.
   ========================================================================== */
/*
 * redish orange: #f45333
 * redish orange light: #f45a45
 * light blue: #66cccc
 * light green: #7ce2c9
 * light teal: #59ffd6
 */

@black: #000;

@blue: #1AA7D5;
@blueLight: #BAE3FF;
@darkBlue: #222D37;

@green: #2fc381;
@greenLight: #7ce2c9;

@darkGrey: #333;
@lightGrey: #f2f2f2;
@lightGrey: #f1f0f1;

@red: #f45a45;
@redLight: #f67e69;

@tealLight: #59ffd6;
@teal: #31E6B9;

@white: #ffffff;
@offWhite: #f6f6f6;

@primary: @blue;
@primaryLight: @blueLight;
