// LESS Color Stylesheet
/* ==========================================================================
   Site colors.
   ========================================================================== */
/*
 * redish orange: #f45333
 * redish orange light: #f45a45
 * light blue: #66cccc
 * light green: #7ce2c9
 * light teal: #59ffd6
 */

@blue: #1AA7D5;
@blueLight: #BAE3FF;

@greenLight: #7ce2c9;

@grey: #444444;
@greyMed: #666666;
@greyLight: #999;

@red: #f45a45;
@redLight: #f67e69;

@tealLight: #59ffd6;

@white: #ffffff;

@primary: @blue;
@primaryLight: @blueLight;
