// LESS Main Stylsheet
@import "colors";
@import "mixins";
@import "variables";

/* ==========================================================================
   General site styles
   ========================================================================== */

html {
    font-size: 10px;
    font-family: @sansSerif;
    font-weight: @fontWeightLight;
    overflow-x: hidden;
}

::selection {
    background: @blueLight;
}

body {
    overflow-x: hidden;
    .background(@white);
    .color(@darkGrey);
}

a,
a:hover,
a:visited,
a:focus {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

img {
    max-height: 100%;
    max-width: 100%;
}

ul,
ol {
    list-style-type: none;
}

em {
    font-style: italic;
}

strong {
    font-weight: @fontWeightBold;
}

.content {
    width: 94%;
    max-width: 1024px;
    margin: 0 auto;
}

/* ==========================================================================
   Header
   ========================================================================== */
header {
    position: fixed;
    z-index: @navZ;
    top: 0;
    left: 0;
    height: 3em;
    width: 100%;

    .background(@offBlack);
    .color(@white);
    .transition(transform, @navTransSpeed);

    .menu {
        display: block;
        float: left;
        height: 3rem;
        line-height: 3rem;

        vertical-align: top;
        text-align: center;
        font-size: 1.2em;

        .fa {
            font-size: 2rem;
            padding: .5rem;
        }
    }
}

header.nav-active {
    .transform(translate3d(@navWidth, 0, 0));
}

/* ==========================================================================
   Nav
   ========================================================================== */

nav {
    position: fixed;
    z-index: @navZ;
    top: 0;
    left: -@navWidth;
    width: @navWidth;
    height: 100%;

    .background(@offBlack);
    .color(@white);
    .transition(transform, @navTransSpeed);

    ul {
        padding: 3em 0 0 0;

        li {
            font-size: 1.5rem;

            a {
                display: block;
                padding: .8rem;
            }

            a:hover {
                .color(@darkGrey);
                .background(@lightGrey);
            }
        }
    }
}

nav.nav-active {
    .transform(translate3d(@navWidth, 0, 0));
}

/* ==========================================================================
   Main Content
   ========================================================================== */
main {
    overflow-x: hidden;
    width: 100%;
    padding: 3em 0 0 0;

    .transition(transform, @navTransSpeed);
}

main.nav-active {
    .transform(translate3d(@navWidth, 0, 0));
}

section {
    padding: 8em 0;

    h1 {
        font-size: 4em;
        text-align: center;
    }

    hr {
        width: 300px;
        margin: 1em auto;
        border-color: @medGrey;
    }

    h2 {
        text-align: center;
        font-size: 1.4em;
        line-height: 2em;
    }

}

.column-flex {
    width: 40rem;
    max-width: 100%;
    margin: 0 auto;

    .column-item {
    }
}

.column-flex:before,
.column-flex:after {
    content: " ";
    display: table;
}

.column-flex:after {
    clear: both;
}


/* Intro Section
   ========================================================================== */

section.intro {
//    .background(@primary);
    .gradient(@lightGreen, @green);
    .color(@white);

    h1 {
        font-weight: @fontWeightBold;
        text-transform: lowercase;
    }

    hr {
        border-color: @white;
    }

    p {
        text-align: center;
    }
}

/* Profile
   ========================================================================== */
section.profile {

    .profile-info {
        padding: 3em 0 0 0;

        .profile-image {
            padding: 0 0 2em 0;
            text-align: center;
        }

        .profile-items {

        }
    }

}

/* Skills Section
   ========================================================================== */
section.skills {
    .background(@lightGrey);
}

.skill-list {
    padding: 3em 0 0 0;

    h3 {
        margin: 0 0 .5em 0;
        padding: 1em 0 .5em 0;
        font-size: 1.6em;
        border-bottom: 1px solid @medGrey;
    }

    .skill-group {
        padding: 0 0 2em 0;
    }

    .skill-item {
        height: 2em;
        line-height: 2em;
        padding: 0 .2em;

        font-size: 1.3em;
    }

    .skill-item:hover {
        .background(@white);
    }

    .skill-value {
        float: right;
        padding: .4em 0 0 0;
    }

    .skill-indicator {
        float: right;
        padding: 0 0 0 .3em;

        font-size: 1.2em;

        .color(@grey);
    }

    .skill-indicator.full {
        .color(@primary);
    }
}

/* Job
   ========================================================================== */
section.job {

//    .background(@lime);

    .job-list {
        padding: 3em 0 0 0;

        .job-group {
            margin: 0 auto;
            max-width: 40rem;
        }

        .company {
            padding: 0 0 1em 0;

            h3 {
                padding: .2em 0;

                font-size: 2em;
                font-weight: @fontWeightBold;

                .color(@primary);
            }

            h4 {
                font-size: 1.6em;
                font-weight: @fontWeightBold;
            }

            p {
                font-size: 1.6em;
            }
        }

        .description {
            p {
                font-size: 1.4em;
                line-height: 1.4em;
            }

            ul {
                padding: 1rem 2rem;

                list-style-type: disc;
                font-size: 1.4rem;

                li {
                    padding: .5rem 0;
                }
            }

            a {
                font-weight: @fontWeightBold;
                .color(@primary);
            }

            a:hover {
                text-decoration: underline;
            }

        }
    }
}

/* Examples
   ========================================================================== */
section.examples {
    .background(@lightGrey);
}

/* Contact
   ========================================================================== */
section.contact {
    .background(@darkGrey);
    .color(@white);
}

.contact-list {
    padding: 3em 0 0 0;

    .contact-item {
        padding: .5em 3.5em;
        font-size: 1.4em;

        a {
            display: block;
            vertical-align: top;
            line-height: 2em;
        }

        .fa {
            padding: 0 1rem 0 0;
            font-size: 3rem;
        }
    }
}

/* Overlay
   ========================================================================== */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .background(@black);
    .opacity(50);
}

.overlay.active {
    display: block;
}

/* ==========================================================================
   Good stuff.
   ========================================================================== */
.eggs {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

.eggs-scorpion {
    width: 100%;
    height: 100%;

    font-size: 4em;
    font-style: italic;
    font-weight: @fontWeightBold;
}

.eggs-scorpion img {
    width: 100%;
    max-width: 900px;
    max-height: 450px;
}

/* ==========================================================================
   Media Queries for Responsiveness
   ========================================================================== */
@media screen and (min-width: 600px) {
    html {
        font-size: 11px;
    }

    .content {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 12px;
    }

    .content {
        width: 80%;
    }

    section {
        padding: 9em 0;
    }

}

@media screen and (min-width: 1024px) {
    html {
        font-size: 13px;
    }

    /* Here we break up our columms */
    .column-flex {
        width: 63rem;
        max-width: 100%;
        margin: 0 auto;

        .column-item {
            float: left;
            width: 28rem;
            margin: 0 1.75rem;
        }
    }

    .contact-list {
        .contact-item {
            padding: .5em 0;
        }
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 14px;
    }

    section {
        padding: 12em 0;
    }
}

/**
 * Adjustments for high-res devices
 */
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}
