// LESS Main Stylsheet
@import "colors";

// Set up some simple font defaults
@sansSerif: Helvetica, Arial, Verdana, sans-serif;
@serif: Georgia, Palatino, serif;

/* ==========================================================================
   Section comment block
   ========================================================================== */

/* Sub-section comment block
   ========================================================================== */

/* ==========================================================================
   General site styles
   ========================================================================== */

html {
    font-size: 10px;
    font-family: @sansSerif;
}

::selection {
    background: @primaryLight;
}

body {
    background: @white;
    color: @grey;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    cursor: pointer;
    color: @primary;
}

a:hover {
    text-decoration: underline;
}

a::selection {
    color: @greyLight;
}

ul,
ol {
    list-style-type: none;
}

.clear {
    clear: both;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.fa {
    font-family: "FontAwesome";
}

/* ==========================================================================
   Site header.
   ========================================================================== */

.profile {
    float: left;
    width: 20%;
}

.profile img {
    width: 100%;
    max-width: 300px;

    border-radius: 500px;
}

.main-header {
    padding: 20px 0 10px 0;

    h1 {
        float: left;
        width: 80%;

        font-size: 5em;
        text-align: right;
    }
}


/* ==========================================================================
   Site navigation.
   ========================================================================== */

nav {
    padding: 0 0 50px 0;

    li:not(.clear) {
        float: right;
        margin: 0 5px 0 20px;

        a {
            font-size: 2em;
            font-weight: 100;
            -webkit-transition: text-decoration 300ms;
            -moz-transition: text-decoration 300ms;
            -o-transition: text-decoration 300ms;
            transition: text-decoration 300ms;
        }
    }
}


/* ==========================================================================
   Site main content.
   ========================================================================== */
main {
    width: 70%;
    padding: 0 15%;
}

section {
    padding: 0 0 100px 0;

    h1 {
        padding: 0 0 20px;

        font-size: 4em;
    }

    h2 {
        padding: 0 0 .2em 0;

        font-size: 2em;
    }

    p,
    ul {
        padding: 0 0 2em 0;

        font-size: 2em;
        font-weight: 100;
        line-height: 2em;
    }
}


/* ==========================================================================
   Site footer.
   ========================================================================== */
.footer {
    padding: 0 0 50px 0;
}

a.social-link {
    display: block;
    float: right;
    width: 1.5em;
    height: 1.5em;
    margin: 0 .2em 0 0;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: @primary center no-repeat;
    color: @white;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;

    -webkit-transition: background-color 300ms;
    transition: background-color 300ms;
}

.social-link:hover {
    background-color: @grey;
    text-decoration: none;
}

//.social-link.twitter {
//    background-image: url("../img/twitter_bird.png");
//}
//
//.social-link.linkedin {
//    background-position: 17px 14px;
//    background-image: url("../img/linkedin_in.png");
//}
//
//.social-link.github {
//    background-image: url("../img/github.png");
//}

/* ==========================================================================
   Good stuff.
   ========================================================================== */
.eggs {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

.eggs-scorpion {
    width: 100%;
    height: 100%;

    font-size: 4em;
    font-style: italic;
    font-weight: bold;
}

.eggs-scorpion img {
    width: 100%;
    max-width: 900px;
    max-height: 450px;
}

@media screen and (max-width: 1024px) {
    main {
        width: 80%;
        padding: 0 10%;
    }
    .main-header {
        padding: 20 0 10px 0;
    }
    nav {
        padding: 0 0 100px 0;
    }
    section {
        padding: 0 0 100px 0;
    }
}

@media screen and (max-width: 768px) {
    .main-header {
        h1 {
            font-size: 4.5em;
        }
    }
    nav {
        padding: 0 0 80px 0;
    }
    section {
        padding: 0 0 80px 0;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 9px;
    }
    main {
        width: 90%;
        padding: 0 5%;
    }
    .main-header {
        padding: 20px 0 10px 0;
    }
    nav {
        padding: 0 0 50px 0;
    }
    section {
        padding: 0 0 50px 0;

        p {
            padding: 0 0 1em 0;
        }
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 7px;
    }
    .main-header {
        padding: 10px 0;
        h1 {
            font-size: 3.5em;
        }
    }
    nav {
        padding: 0 0 30px 0;
        li {
            margin: 0 0 0 10px;
        }
    }
    section {
        padding: 0 0 30px 0;

        h1 {
            padding: 0 0 10px 0;
        }
    }
}

/**
 * Adjustments for high-res devices
 */
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}
