// LESS Main Stylsheet
@import "colors";
@import "mixins";
@import "variables";

/* ==========================================================================
   General site styles
   ========================================================================== */

html {
    font-size: 10px;
    font-family: @sansSerif;
    font-weight: @fontWeightLight;
}

::selection {
    background: @primaryLight;
}

body {
    .background(@white);
    .color(@darkGrey);
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
    cursor: pointer;
    .color(@primary);
}

a:hover {
    text-decoration: underline;
}

img {
    max-height: 100%;
    max-width: 100%;
}

ul,
ol {
    list-style-type: none;
}

em {
    font-style: italic;
}

strong {
    font-weight: @fontWeightBold;
}

/* ==========================================================================
   Nav
   ========================================================================== */

nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: .5em 0;
}


/* ==========================================================================
   Main Content
   ========================================================================== */
main {
    width: 100%;
}

section {
    width: 96%;
    padding: 8em 2%;

    h1 {
        padding: 0 0 1em 0;

        font-size: 4em;
        text-align: center;
    }

    p {
        font-size: 1.4rem;
        line-height: 2rem;
    }
}

/* Top Section
   ========================================================================== */

section.intro {
    .background(@green);
    .color(@white);

    h1 {
        padding: 0;
        font-weight: @fontWeightBold;
        text-transform: lowercase;

    }

    hr {
        border-color: @white;
        width: 80%;
        margin: 1em auto;
        .opacity(50);
    }

    p {
        text-align: center;
    }

    ::selection {
//        .color(@white);
//        .background(@black);
    }
}

/* ==========================================================================
   Site footer.
   ========================================================================== */
.footer {
    padding: 0 0 50px 0;
}

a.social-link {
    display: block;
    float: right;
    width: 1.5em;
    height: 1.5em;
    margin: 0 .2em 0 0;

    background: @primary center no-repeat;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;

    .transition(background-color);
    .circle();
    .color(@white);
}

.social-link:hover {
    background-color: @darkGrey;
    text-decoration: none;
}

/* ==========================================================================
   Good stuff.
   ========================================================================== */
.eggs {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow: hidden;
}

.eggs-scorpion {
    width: 100%;
    height: 100%;

    font-size: 4em;
    font-style: italic;
    font-weight: @fontWeightBold;
}

.eggs-scorpion img {
    width: 100%;
    max-width: 900px;
    max-height: 450px;
}

/* ==========================================================================
   Media Queries for Responsiveness
   ========================================================================== */
@media screen and (min-width: 300px) {
    
}

/**
 * Adjustments for high-res devices
 */
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}
