// LESS Variables

// Fonts
@sansSerif: "Lato", Helvetica, Arial, Verdana, sans-serif;
@serif: Georgia, Palatino, serif;
@fontWeightLight: 300;
@fontWeightBold: 700;

// Widths
@navWidth: 300px;
@navTransSpeed: 200ms;
